!!! 5
%html
%head
	%title The Rise : A Visual Library of Craft and Culture
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= csrf_meta_tags

%body
	%nav.navbar.navbar-default
		.container
			.navbar-brand
<<<<<<< HEAD
				= link_to image_tag('TheRiseLogo.png'), root_path
=======
				= link_to image_tag('TheRiseLogo.png'), root_path
>>>>>>> 54884c7583b5e2299d964ca74ecfcb66c1fbcef7

			-if user_signed_in?
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "New Pin", new_pin_path
					%li= link_to "Account", edit_user_registration_path
					%li= link_to "Sign Out", destroy_user_session_path, method: :delete
			- else
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "Home", root_path
					%li= link_to "Sign Up", new_user_registration_path
					%li= link_to "Sign In", new_user_session_path
		.container
		- flash.each do |name, msg|
			= content_tag :div, msg, class: "alert alert-info"

		.container
		What is this? 

		A highly visual/editorial/curated site dedicated to telling the stories of artisans and their crafts. The saturation of traditional textiles on the high street is threatening the global artisan market, the culture of craft, value of hand made goods and ulitmately, artisan livelihoods. 

		The Rise Visual Library aims to educate the public about the value of these goods and also create visibility for artisans and businesses struggling to make ends meet. 


		How does it work? 

		Two ways to participate: 

		Pin directly: Once approved for an account, designers and artisans can post their products and stories directly. 

		Artisans lacking web access can post via whatsapp (will be moderated into dropbox) and have their stories "polished" by a team of writers and editors before posting, which will make them more appealing to a customer audience.

